[submodule "OOP_EXE1"]
	path = OOP_EXE1
	url = https://github.com/anim1311/OOP_EXE1.git
[submodule "OOP_EXE2"]
	path = OOP_EXE2
	url = https://github.com/anim1311/OOP_EXE2.git
[submodule "OOP_EXE3"]
	path = OOP_EXE3
	url = https://github.com/anim1311/OOP_EXE3.git
[submodule "OOP_EXE4"]
	path = OOP_EXE4
	url = https://github.com/anim1311/OOP_EXE4.git
[submodule "OOP_EXE5"]
	path = OOP_EXE5
	url = https://github.com/anim1311/OOP_EXE5.git
[submodule "OOP_EXE6"]
	path = OOP_EXE6
	url = https://github.com/anim1311/OOP_EXE6.git
[submodule "OOP_EXE7"]
	path = OOP_EXE7
	url = https://github.com/anim1311/OOP_EXE7.git
[submodule "OOP_EXE9"]
	path = OOP_EXE9
	url = https://github.com/anim1311/OOP_EXE9.git
[submodule "OOP_EXE8"]
	path = OOP_EXE8
	url = https://github.com/anim1311/OOP_EXE8.git
[submodule "OOP_EXE10"]
	path = OOP_EXE10
	url = https://github.com/anim1311/OOP_EXE10.git
